<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">
    <context:component-scan base-package="cn.com.shiro.book"></context:component-scan>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/demo_shiro">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>cn/com/shiro/book/tp12/entity/ShrUser.hbm.xml</value>
				<value>
					cn/com/shiro/book/tp12/entity/ShrRolePermission.hbm.xml
				</value>
				<value>
					cn/com/shiro/book/tp12/entity/ShrResource.hbm.xml
				</value>
				<value>
					cn/com/shiro/book/tp12/entity/ShrSession.hbm.xml
				</value>
				<value>cn/com/shiro/book/tp12/entity/ShrRole.hbm.xml</value>
				<value>
					cn/com/shiro/book/tp12/entity/ShrResourceItem.hbm.xml
				</value>
				<value>
					cn/com/shiro/book/tp12/entity/ShrUserPermission.hbm.xml
				</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="ShrUserDAO" class="cn.com.shiro.book.tp12.hibernate.dao.ShrUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShrRolePermissionDAO" class="cn.com.shiro.book.tp12.hibernate.dao.ShrRolePermissionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShrResourceDAO" class="cn.com.shiro.book.tp12.hibernate.dao.ShrResourceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShrSessionDAO" class="cn.com.shiro.book.tp12.hibernate.dao.ShrSessionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShrRoleDAO" class="cn.com.shiro.book.tp12.hibernate.dao.ShrRoleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShrResourceItemDAO" class="cn.com.shiro.book.tp12.hibernate.dao.ShrResourceItemDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShrUserPermissionDAO" class="cn.com.shiro.book.tp12.hibernate.dao.ShrUserPermissionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UtilDAO" class="cn.com.shiro.book.tp12.hibernate.dao.UtilDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>